body {
    background: #FDFDFD;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 1rem;
}


/* Navigation
--------------------------------------------------------- */

header {
    background: #B45335;
    margin: 0px;
    padding: 1rem;
}

nav {
    background: #B45335;
    padding: 0;
    margin: 0;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: right;
    position: fixed;
    width: 50%;
    height: 100%;
    right: -50%;
    top: 0;
    transition: all .25s ease;
}


nav.open {
    right: 0;
    transition: all .25s ease;
}

nav ul {
    display: flex;
    flex-direction: column;
    width: 100%;
}

nav ul li {
    padding: 1rem;
    text-decoration: none;
    /* display: inline-block; */
    /* margin-right: 2rem; */
}

nav ul li a {
    display: block;
    margin: 0;
    text-align: center;
    background: none;
}


nav ul {
    list-style: none;
    padding: 0;
}

nav img {
    display: none;
}

/* Hero section
--------------------------------------------------------- */

.hero {
    background: url("../Images/Hero-Desktop.png");
    background-position: center center;
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #FFF5F2;
    font-size: 2rem;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 3rem;
}


a {
    /* I don't know why it wouldn't work endless I set size for each side */
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #B49335;
    border-radius: 8px;
    margin-top: 24px;
    text-decoration: none;
    color: #FDFDFD;
    font-family: 'Nunito', sans-serif;
}

a:hover {
    background: #B08815;
}

.hero div {
    margin: 1rem;
    text-align: center;
}


/* Our favorites section 
( Add btn that links to "Recipe page" )
--------------------------------------------------------- */

.favorites {
    background: #FFF5F2;
    padding: 0rem;
    padding-bottom: 3rem;
    justify-content: center;
} 

.sectionhead {
    text-align: center;
    padding: 2rem;
    margin: 0px;
    font-size: 2rem;
    font-family: 'Nunito', sans-serif;
    color: #B45335;
}

#pagehead {
    text-align: center;
    font-size: 3rem;
    font-family: 'Nunito', sans-serif;
    color: #B45335;
    margin-bottom: 0px;
    margin-top: 20px;
}


.gridhome {
    display: grid;
    gap: 1rem;
}

.previewCard {
    background: #FDFDFD;
    border-radius: 8px;
    max-height: auto;
    align-items: center;
    justify-content: center;
}

.previewCard img {
    width: 100%;
    height: auto;
    border-radius: .5rem;
}

.previewCard p {
    padding-left: 1rem;
    font-family: 'Nunito', sans-serif;
    color: #B45335;
}




/* Start section
--------------------------------------------------------- */
.flex {
    display: flex;
    padding: 1rem; 
    flex-direction: column;
    justify-self: center;
    margin-top: 1rem;
}

.flex img {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

#flexbtn {
    text-align: center;
}


#flextext {
    color: #B45335;
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 2rem;
}

.flexdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: #FFF5F2;
    border-radius: 0 0 1rem 1rem;
}


/* Awards section 
--------------------------------------------------------- */
.awards ul {
    list-style: none;
    display: grid;
    gap: 1rem;
    padding: 3rem;
}

.awards ul li {
    display: flex;
    justify-content: center;
}



/* Footer
--------------------------------------------------------- */
footer {
    background: #B45335;
    height: 200px;
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 1rem;
    padding-top: 2rem;
    justify-content: center;
}

#copywrite {
    color: #FFF5F2;
    text-align: center;
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
}

/* About Page
---------------------------------------------------------
--------------------------------------------------------- */

.aboutflex {
    display: flex;
    padding: 1rem; 
    flex-direction: column;
    justify-self: center;
}

.aboutflex img {
    width: 100%;
    height: fit-content;
    border-radius: .5rem;
    align-self: center;
}


.aboutflex div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

#logo {
    width: 48px;
    height: 48px;
    margin-top: 1rem;
    align-self: center;
}

.aboutflex p {
    color: #57483A;
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
}








/*tablet*/
@media screen and (min-width: 820px) {

    .flex {
        flex-direction: row;
        padding: 4rem; 
        margin-top: auto;
    }

    .flex img {
        width: 50%;
        border-radius: 1rem 0 0 1rem;
    }

    .flexdiv {
        padding: 3rem;
        border-radius: 0 1rem 1rem 0;
    }

    #flexbtn {
        text-align: left;
    }
    
    .gridhome {
        grid-template-columns: repeat(2, 1fr); 
        gap: 3rem;
    }

    .favorites {
        padding: 1rem;
        padding-bottom: 3rem;
    }

    .awards ul {
        grid-template-columns: repeat(3, 1fr);   
    }

    .aboutflex {
        flex-direction: row;
        padding: 4rem; 
    }

    .aboutflex img {
        width: 50%;
    }

    .aboutflex div {
        padding: 3rem;
    }

    #pagehead {
        margin-top: 40px;
    }

}


/*Desktop*/ 
@media screen and (min-width: 1200px) {

    header {
        padding: 0px;
    }

    header p {
        display: none;
    }

    nav {
        position: fixed;
        width: 100%;
        height: auto;
        /*width: 100%;
        height: 68px;
        position: static; */  
    }

    nav  ul {
        flex-direction: row;
        margin: 0px;
        justify-content: center;
    }

    nav ul li a {
        background: none;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    nav ul li a:hover {
        background: #B14A2A;
        border-radius: .5rem;
    }


    nav img {
        display: block;
        height: 48px;
        width: 48px;
        padding-left: 2rem;
        align-self: center;
    }



    .container {
        padding: 0;
    }

    .flex img {
        width: 60%;
    }

    #flextext {
        font-size: 1.5rem;
    }

    .gridhome {
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }

    .awards ul {
        grid-template-columns: repeat(3, 1fr);   
    }

    h1 {
        font-size: 3rem;
    }

    .favorites {
        padding-left: 3rem;
        padding-right: 3rem;
    } 

    .aboutflex img {
        width: 70%;
    }




}