body {
    background: #FDFDFD;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 1rem;
}


/* Navigation
--------------------------------------------------------- */

header {
    background: #B45335;
    margin: 0px;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header #menu {
    width: 30px;
    height: 25px;
    align-self: center;
}

nav {
    background: #B45335;
    padding: 0;
    margin: 0;
    color: #FFF5F2;
    display: flex;
    flex-direction: row;
    justify-content: right;
    position: fixed;
    width: 50%;
    height: 100%;
    right: -50%;
    top: 0;
}


nav.open {
    right: 0;
}

nav ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
    padding: 0;
}

nav ul li {
    padding: 1rem;
    text-decoration: none;
    /* display: inline-block; */
    /* margin-right: 2rem; */
}

nav ul li a {
    display: block;
    margin: 0;
    text-align: center;
    background: none;
}


#desklogo {
    display: none;
}

#closeicon img {
    width: 25px;
    height: 25px;
}

#closeicon {
    display: flex;
    justify-content: right;
    padding-right: 1rem;
}



/* Hero section
--------------------------------------------------------- */

.hero {
    background: url("../Images/Hero-Desktop.png");
    background-position: center center;
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #FFF5F2;
    font-size: 2rem;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 3rem;
}


a {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #B49335;
    border-radius: 8px;
    margin-top: 24px;
    text-decoration: none;
    color: #FDFDFD;
    font-family: 'Nunito', sans-serif;
}

a:hover {
    background: #B08815;
}

.hero div {
    margin: 1rem;
    text-align: center;
}


/* Our favorites section 
( Add btn that links to "Recipe page" )
--------------------------------------------------------- */

.favorites {
    background: #FFF5F2;
    padding: 0rem;
    padding-bottom: 3rem;
    justify-content: center;
} 

.sectionhead {
    text-align: center;
    padding: 2rem;
    margin: 0px;
    font-size: 2rem;
    font-family: 'Nunito', sans-serif;
    color: #B45335;
}

#pagehead {
    text-align: center;
    font-size: 3rem;
    font-family: 'Nunito', sans-serif;
    color: #B45335;
    margin-bottom: 0px;
    margin-top: 20px;
}


.gridhome {
    display: grid;
    gap: 1rem;
}

.previewcard {
    background: #FDFDFD;
    border-radius: 8px;
    max-height: auto;
    align-items: center;
    justify-content: center;
}

.previewcard img {
    width: 100%;
    height: auto;
    border-radius: .5rem .5rem 0 0;
}

.previewcard p {
    padding-left: 1rem;
    font-family: 'Nunito', sans-serif;
    color: #B45335;
}




/* Start section
--------------------------------------------------------- */
.flex {
    display: flex;
    padding: 1rem; 
    flex-direction: column;
    justify-self: center;
    margin-top: 1rem;
}

.flex img {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

#flexbtn {
    text-align: center;
}


#flextext {
    color: #B45335;
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 2rem;
}

.flexdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: #FFF5F2;
    border-radius: 0 0 1rem 1rem;
}


/* Awards section 
--------------------------------------------------------- */
.awards ul {
    list-style: none;
    display: grid;
    gap: 1rem;
    padding: 3rem;
}

.awards ul li {
    display: flex;
    justify-content: center;
}



/* Footer
--------------------------------------------------------- */
footer {
    background: #B45335;
    height: 200px;
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 1rem;
    padding-top: 2rem;
    justify-content: center;
}

#copywrite {
    color: #FFF5F2;
    text-align: center;
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
}

/* About Page
---------------------------------------------------------
--------------------------------------------------------- */

.aboutflex {
    display: flex;
    padding: 1rem; 
    flex-direction: column;
    justify-self: center;
}

.aboutflex img {
    width: 100%;
    border-radius: .5rem;
    align-self: center;
}


.aboutflex div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

#logo {
    width: 48px;
    height: 48px;
    margin-top: 1rem;
    align-self: center;
}

.aboutflex p {
    color: #57483A;
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
}



/* Contact Page
---------------------------------------------------------
--------------------------------------------------------- */
 .contact {
    display: flex;
    padding: 1rem; 
    margin: 0rem;
    flex-direction: column;
    justify-self: center;
    box-shadow: 1px 1px 6px #E7E7E7;
    border-radius: 1rem;
 }

 #contactleft {
    padding: 2.5rem;
    background: #B45335;
 }


 .contitle {
    color: #FFF5F2;
    font-size: 2rem;
    font-family: 'Nunito', sans-serif;
    padding-bottom: 1rem;
 }

 .smallp {
    color: #FFF5F2;
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
    padding: .5rem 0;
 }

 .regularp {
    color: #FFF5F2;
    font-size: 1.5rem;
    font-family: 'Nunito', sans-serif;
    padding: .5rem 0;
 }

 #contactright {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 2.5rem;
    width: 100%;
 }

 #contactright .smallp {
    color: #B45335;
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
    padding: .5rem 0;
 }

 #contactright .contitle {
    color: #B45335;
    font-size: 2rem;
    font-family: 'Nunito', sans-serif;
    padding-bottom: 1rem;
 }

 #contactright a {
    width: 100px;
    align-self: center;
    text-align: center;
 }

 input {
    font-size: 1rem;
    width: 100%;
    /* how can I fix the padding without using align*/
    align-self: center;
    border-radius: .5rem;
    background-color: #FDFDFD;
    border: solid #B45335;
    border-width: 2px;
    padding: 1rem;
 }

 input:focus {
    border-width: 2.5px;
    background-color: #FFFCFB;
 }

 #note {
    height: 150px;
    margin-bottom: .5rem;
 }


 /* Recipe Page
---------------------------------------------------------
--------------------------------------------------------- */

#filter {
    display: none;
}


#recipegrid {
    display: grid;
    gap: 3rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    justify-content: center;
    max-height: auto;
}

.recipecard img {
    width: 100%;
    height: auto;
    border-radius: .5rem .5rem 0 0;
}


.recipecard {
    background-color: #FFF5F2;
    border-radius: .5rem;
}

#cardp {
    color: #B45335;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    padding-top: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    margin: 0;
}

#cardtitle {
    color: #B45335;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    padding: 1rem;
    margin: 0;
}

.cardfoot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

#easy {
    color: #57FF08;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    padding: 1rem;
    padding-left: 0;
    margin: 0;
}

#moderate {
    color: #FFD809;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    padding: 1rem;
    padding-left: 0;
    margin: 0;
}

#hard {
    color: #FF0909;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    padding: 1rem;
    padding-left: 0;
    margin: 0;
}

.cardfoot a {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #B45335;
    border-radius: 4px;
    text-decoration: none;
    color: #FFF5F2;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    margin-right: .5rem;
}

.cardfoot a:hover {
    background-color: #8d412a;
}


      



/*tablet*/
@media screen and (min-width: 820px) {

    .flex {
        flex-direction: row;
        padding: 4rem; 
        margin-top: auto;
    }

    .flex img {
        width: 50%;
        border-radius: 1rem 0 0 1rem;
    }

    .flexdiv {
        padding: 3rem;
        border-radius: 0 1rem 1rem 0;
    }

    #flexbtn {
        text-align: left;
    }
    
    .gridhome {
        grid-template-columns: repeat(2, 1fr); 
        gap: 3rem;
    }

    .favorites {
        padding: 1rem;
        padding-bottom: 3rem;
    }

    .awards ul {
        grid-template-columns: repeat(3, 1fr);   
    }

    .aboutflex {
        padding: 3rem; 
    }

    .contact {
        margin: 4rem 6rem 8rem 6rem;
    }

    #pagehead {
        margin-top: 40px;
    }

    #filter {
        display: contents;
    }

    #label {
        color: #B45335;
        font-size: 1.5rem;
        font-family: 'Nunito', sans-serif;
    }
    
    #filterlist {
        display: flex;
        flex-direction: row;
        text-decoration: none;
        list-style: none;
        margin: 0;
        padding-left: 0;
    }
    
    #filterbtn {
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 40px;
        padding-right: 40px;
        margin-right: 1rem;
        background-color: #FDFDFD;
        border-radius: 8px;
        text-decoration: none;
        color: #B45335;
        font-family: 'Nunito', sans-serif;
        justify-content: left;
    }

    #filterselected {
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 40px;
        padding-right: 40px;
        margin-right: 1rem;
        background-color: #B45335;
        border-radius: 8px;
        text-decoration: none;
        color: #FDFDFD;
        font-family: 'Nunito', sans-serif;
        justify-content: left;
    }
    
    #filterbtn:hover {
        box-shadow: 2px 4px 4px #E7E7E7;
    }

    #recipegrid {
        grid-template-columns: repeat(3, 1fr); 
        gap: 2rem;
    }


}


/*Desktop*/ 
@media screen and (min-width: 1200px) {

    header {
        padding: 0px;
    }

    header p {
        display: none;
    }

    nav {
        position: fixed;
        width: 100%;
        height: auto;
        left: 0;
        z-index: 1;
        /*box-shadow: 0px 0px 12px #7D7D7D;*/
        /*width: 100%;
        height: 68px;
        position: static; */  
    }

    nav  ul {
        flex-direction: row;
        margin: 0px;
        justify-content: center;
    }

    nav ul li a {
        background: none;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    nav ul li a:hover {
        background: #B14A2A;
        border-radius: .5rem;
    }

    .navselected {
        text-decoration: underline;
        background: #B14A2A;
    }


    #desklogo {
        display: block;
        height: 48px;
        width: 48px;
        padding-left: 2rem;
        align-self: center;
    }

    #closeicon {
        display: none;
    }



    .container {
        padding: 0;
    }

    .flex img {
        width: 60%;
    }

    #flextext {
        font-size: 1.5rem;
    }

    .gridhome {
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }

    .awards ul {
        grid-template-columns: repeat(3, 1fr);   
    }

    h1 {
        font-size: 3rem;
    }

    .favorites {
        padding-left: 3rem;
        padding-right: 3rem;
    } 

    .aboutflex img {
        width: 50%;
    }

    .aboutflex {
        flex-direction: row;
        padding: 4rem; 
    }

    .aboutflex div {
        padding: 3rem;
    }

    .contact {
        flex-direction: row;
        padding: 0rem; 
        margin: 5rem 3rem 4rem 3rem;
    }

    #contactleft {
        width: 40%;
    }

    #recipegrid {
        grid-template-columns: repeat(4, 1fr); 
    }


}